<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="LightInject" version="4.0.10-rc2-2" targetFramework="net461" />
  <package id="LightInject.Mocking" version="1.0.0.5" targetFramework="net461" />
  <package id="Moq" version="4.5.10" targetFramework="net45" />
</packages>